{% extends "base.html" %}

{% block title %}
    {{ result.name }}
{% endblock %}

{% block content %}
    <div class="product-detail">
        <img src="{{ url_for('static', filename=result['product'].image) }}">
        <h1>{{ result['product'].name }}</h1>
        <h2><a href="/catalog/category/{{result['category']['id']}}/">{{ result['category']['name'] }}</a></h2>
        <p class="price">${{ result['product'].price }}</p>
        
        {% if result['product'].stock > 0 %}
        <form class="form-group" action="" method="post">
            <select name="quantity">
                {% for cantidad in range(1,result['product'].stock+1) %}
                    <option value="{{cantidad}}">{{cantidad}}</option>
                {% endfor %}
                <input type="hidden" name="product_id" value="{{result['product'].id}}">
            </select>
            <input type="submit" value="Add to cart">
        </form>
            {% else %}
            <h2>No Stock</h2>
            {% endif %}
        {{ result['product'].description }}
    </div>
{% endblock %}

