{% extends "./base.html" %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}
    <div id="sidebar">
        <h3>Categories</h3>
        <ul>
            <li {% if not category %}class="selected"{% endif %}>
                <a href="/">All</a>
            </li>
        {% for c in result['categories'] %}
            <li>
                <a href="/catalog/category/{{c.id}}">{{ c.name }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div id="main" class="product-list">
        <h1>{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1>
        {% for product in result['products'] %}
            <div class="item">
                <div>
                    <a href="{{ product.get_absolute_url }}">
                        <img src="{{ url_for('static', filename=product.image) }}">
                    </a>
                </div>
                <a href="/catalog/product/{{product.id}}">{{ product.name }}</a><br>
                ${{ product.price }}
            </div>
        {% endfor %}
    </div>
{% endblock %}