{% extends "./base.html" %}

{% block title %}
    Checkout
{% endblock %}

{% block content %}
    <h1>Checkout</h1>
    
    <div class="order-info">
        <h3>Your order</h3>
        <ul>
            {% for item in result['cart'] %}
                <li>{{ item.quantity }}x {{ item.product.name }} <span>${{ item.total_product }}</span></li>
            {% endfor %}
        </ul>
        <p>Total: ${{ result['sum_cart'] }}</p>
    </div>
    
    <form action="" method="post" class="form">
        <ul style="list-style: none;">
            <li><label for="first_name">First_name:</label><br>
            <input type="text" name="first_name"></li><br>
            <li><label for="last_name">Last_name</label><br>
            <input type="text" name="last_name"></li><br>
            <li><label for="email">Email:</label><br>
            <input type="email" name="email"></li><br>
            <li><label for="address">Address:</label><br>
            <input type="text" name="address"></li><br>
            <li><label for="postal_code">Postal Code:</label><br>
            <input type="number" name="postal_code"></li><br>
            <li><label for="city">City:</label><br>
            <input type="text" name="city"> </li><br>
            <li><input type="submit" value="Place Order"></li><br>
        </ul>
    </form>
    
    
{% endblock %}
