
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}My shop{% endblock %}</title>
    <style>
        .box {
            width: 30%;
            height: 30%;
        }

        .image {
            width: 100%;
            height: 100%;
        }
    </style>
    <link href="{{ url_for( 'static', filename='css/base.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.svg')}}" type="image/x-icon">
</head>
<body>

    <div id="subheader">

        <div style="float:left; margin:0px;">
            <a href="/"><h2>My shop</h2></a>
        </div>
        
        <div class="cart" style="float:right; margin-right:10px; margin-top: 20px;">
            {% if result['quantity_cart'] >0 %}
            <a href="/cart/">
                Your cart: 
                ${{ result['sum_cart'] }}
                items:
                {{  result['quantity_cart']}}
            </a>
                {% else %}
                Your cart is empty.
                {% endif %}
        </div>

        <div style="float:right; margin-right:5px; margin-top: 20px;">
            <img class="logo" width="30px" src="{{ url_for ('static', filename='img/cart.png') }}">
        </div>

        <!-- <div class="cart" style="float:right; margin-right:30px; margin-top: 20px;">
            <a href="">Cancel order</a>
        </div> -->

    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>